= form_for @bell do |f|
  - if @bell.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bell.errors.count, "error")} prohibited this bell from being saved:"
      %ul
        - @bell.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_area :address
  .actions
    = f.submit 'Save'
