%div.page{data: {page: "bell-show"}}
	%div.navbar
		%div.navbar-inner
			%div.center= @bell.name
			%div.right
				%a.link.icon-only.open-panel{href: "#"}
					%i.icon.icon-bars
	
	%div.page-content
		- if @bell.has_active_call?
			%div.content-block
				%p
					%a.button.button-big.button-fill.color-red.long-blink{href: bell_call_path(@bell, @bell.active_call)} Someone Is Ringing!

		%div.content-block-title Where Are You?
		%div.content-block
			%p.buttons-row
				%a.button#btn-at-home{href: "#", class: @at_home} I Am Home
				%a.button#btn-out{href: "#", class: @out} I Am Out

		%div.content-block-title Configure Messages
		%div.list-block
			%ul
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title Welcome Message
							%div.item-after
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title Coming Message
							%div.item-after
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title Come Up Message
							%div.item-after
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title No Answer Message
							%div.item-after

		%div.content-block-title More
		%div.list-block
			%ul
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title Buzz Log
							%div.item-after
				%li
					%a.item-link.item-content.close-panel{href: "#"}
						%div.item-inner
							%div.item-title Devices And Token
							%div.item-after
			 
			%p#notice= notice