= form_for @call do |f|
  - if @call.errors.any?
    #error_explanation
      %h2= "#{pluralize(@call.errors.count, "error")} prohibited this call from being saved:"
      %ul
        - @call.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bell_id
    = f.number_field :bell_id
  .field
    = f.label :action
    = f.number_field :action
  .field
    = f.label :action_msg
    = f.text_field :action_msg
  .actions
    = f.submit 'Save'
