%h1 Listing calls

%table
  %thead
    %tr
      %th Bell
      %th Action
      %th Action msg
      %th
      %th
      %th

  %tbody
    - @calls.each do |call|
      %tr
        %td= call.bell_id
        %td= call.action
        %td= call.action_msg
        %td= link_to 'Show', call
        %td= link_to 'Edit', edit_call_path(call)
        %td= link_to 'Destroy', call, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Call', new_call_path
