%div.page{data: {page: "call-show"}}
	%div.navbar
		%div.navbar-inner
			%div.left
				%a.back.link{href: "#"}
					%i.icon.icon-back
					%span Back
			%div.center= "Call In #{@bell.name}"
			%div.right
				%a.link.icon-only.open-panel{href: "#"}
					%i.icon.icon-bars
					
	%div.page-content
		%div.content-block
			%div.content-block-inner
				%div.time-counter
					= hidden_field_tag("time-diff", @diff)
					%span#minutes 00
					%span m :
					%span#seconds 00
					%span s
				%div.time-counter-label Passed Since Call
		
		%div.content-block-title Respond To The Call
		%div.list-block
			%ul
				%li
					%a.item-link.item-content.close-panel#action-come-up{href: "#"}
						%div.item-inner
							%div.item-title Come Up
							%div.item-after
				%li
					%a.item-link.item-content.close-panel#action-coming{href: "#"}
						%div.item-inner
							%div.item-title I Am Coming
							%div.item-after
				%li
					%a.item-link.item-content.close-panel#action-coming-in{href: "#"}
						%div.item-inner
							%div.item-title Coming In ... Minutes
							%div.item-after
				%li
					%a.item-link.item-content.close-panel#action-cant{href: "#"}
						%div.item-inner
							%div.item-title Can't Make It
							%div.item-after
				%li
					%a.item-link.item-content.close-panel#action-custom-msg{href: "#"}
						%div.item-inner
							%div.item-title Custom Message
							%div.item-after
			
			%div.content-block
				%a.button.button-big.color-red{href: "#"} Discard Call