/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "framework7.ios";
@import "framework7.ios.colors";

.long-blink {
	animation: blinker 2s linear infinite;
}

.short-blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.avatar-block {
	text-align: center;
	margin-top: 0px;
	background-color: #222426;
	
	.avatar-img {
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 50%;
		width: 100px;
	}
	
	.avatar-name {
		padding-bottom: 20px;
		color: white;
	}
}