// Place all the styles related to the Calls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time-counter {
	text-align: center;
	font-size: 3em;
}

.time-counter-label {
	text-align: center;	
}