%div.panel-overlay
%div.panel.panel-left.panel-cover.layout-white
	%div.content-block.avatar-block
		= image_tag("avatar.jpg", class: "avatar-img")
		%div.avatar-name Guillaume Deflaux
	%div.content-block-title My Bells
	%div.list-block
		%ul
			- Bell.all.each do |bell|	
				%li
					%a.item-link.item-content.close-panel{href: bell_path(bell)}
						%div.item-inner
							%div.item-title= bell.name
							%div.item-after
								- if bell.has_active_call?
									%span.badge.color-red.short-blink
	%div.content-block
		%a.button{href: "#"} Register A New Bell
	%div.content-block-title Settings
	%div.content-block
		%p
			%a.button{href: "#"} Edit Profile
		%p
			%a.button{href: "#"} Logout
