!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui"}/
		%meta{name: "apple-mobile-web-app-capable", content: "yes"}/
		%meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}/
		%title Smart Bell
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body.theme-green.layout-dark
		= render "layouts/panel"
		%div.views
			%div.view.view-main
				%div.pages.navbar-fixed
					= yield

		= javascript_include_tag 'application', 'data-turbolinks-track' => true